<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="LightClaw.Engine.Configuration.VideoSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="LightClaw.Engine.Configuration.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="LightClaw.Engine.Configuration.VideoSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<applicationSettings>
		<LightClaw.Engine.Configuration.VideoSettings>
			<setting name="BackfaceCulling" serializeAs="String">
				<value>True</value>
			</setting>
		</LightClaw.Engine.Configuration.VideoSettings>
		<LightClaw.Engine.Configuration.GeneralSettings>
   <setting name="GameName" serializeAs="String">
    <value>LightClaw Game</value>
   </setting>
   <setting name="StartScene" serializeAs="String">
    <value>Game/Start.lcs</value>
   </setting>
   <setting name="EntryClass" serializeAs="String">
    <value>LightClaw.GameCode.MainClass</value>
   </setting>
   <setting name="EntryAssembly" serializeAs="String">
    <value>LightClaw.GameCode.dll</value>
   </setting>
   <setting name="Icon" serializeAs="String">
    <value>Game/Icon.ico</value>
   </setting>
   <setting name="WindowTitle" serializeAs="String">
    <value>LightClaw Game</value>
   </setting>
  </LightClaw.Engine.Configuration.GeneralSettings>
	</applicationSettings>
	<userSettings>
		<LightClaw.Engine.Configuration.VideoSettings>
			<setting name="VSync" serializeAs="String">
				<value>Adaptive</value>
			</setting>
			<setting name="IsFullscreen" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Resolution" serializeAs="String">
				<value>1280, 720</value>
			</setting>
		</LightClaw.Engine.Configuration.VideoSettings>
	</userSettings>
</configuration>
